# PDF Plumber Check

In [16]:
import pdfplumber

def extract_text_from_first_page(pdf_path):
    # Read PDF file
    with pdfplumber.open(pdf_path) as pdf:
        # Extract text from the first page only
        first_page_text = pdf.pages[0].extract_text()
    
    # Print the extracted text
    print(first_page_text)

# Example usage
pdf_path = '../data/daily_28-12-2022.pdf'

extracted_text = extract_text_from_first_page(pdf_path)

.
Hector Kobbekaduwa Agrarian Research and Training Institute
Data Management Division
(Wholesale Prices of Rice & Subsidiary Food Crops)
2022.12.28
Item Pettah Marandagahamula
Range Average Change * Range Average Change *
28-Dec 28-Dec 27-Dec 28-Dec 28-Dec 27-Dec
Rice (Rs/kg)
Samba 1 210.00 - 215.00 214.00 213.40 0.60 208.00 - 226.00 220.00 220.00
Samba 2 200.00 - 210.00 206.60 207.00 -0.40 195.00 - 205.00 198.80 198.80
Keeri Samba 220.00 - 230.00 224.00 225.00 -1.00 215.00 - 220.00 218.75 218.75
Nadu 1 200.00 - 205.00 202.00 201.00 1.00 197.00 - 216.00 209.67 209.67 0.00
Nadu 2 195.00 - 200.00 197.00 197.00 190.00 - 195.00 192.20 192.20
Raw red 195.00 - 200.00 198.60 199.00 -0.40 198.00 - 200.00 199.20 199.20
Raw White 190.00 - 200.00 195.00 196.00 -1.00 182.00 - 190.00 185.60 185.60
Imported Rice
Ponne Samba 205.00 - 215.00 210.00 210.00 200.00 - 200.00 200.00 200.00
Nadu 175.00 - 180.00 178.60 179.00 -0.40 180.00 - 180.00 180.00 180.00
Raw White 168.00 - 175.00 172.60 171.60 1.00 170.00 - 170.00 170.00 170.00
Raw red
Subsidiary Food Crops
Dried Chillies (Rs/Kg)
Imported 1350.00 - 1450.00 1410.00 1410.00
Local
Onion (Rs/Kg)
Sinnan -
Vedalan -
Imported 570.00 - 600.00 585.00 575.00 10.00
Big Onion
Imported 150.00 - 165.00 158.00 154.00 4.00
Local -
Potatoes (Rs/Kg)
Welimada -
Nuwaraeliya 430.00 - 440.00 435.00 435.00
Imported 110.00 - 225.00 179.00 168.00 11.00
Pulses (Rs/Kg)
Green Gram 1080.00 - 1150.00 1115.00 1125.00 -10.00
Cowpea 1250.00 - 1300.00 1280.00 1280.00
Red Dhal 350.00 - 360.00 354.80 356.00 -1.20
Eggs (Rs/Egg)
Brown -
White 58.00 - 62.00 60.00 60.00

# New PDF - 2022 and above

In [17]:
# import pandas as pd
# import re
# import pdfplumber

# def extract_text_from_first_page(pdf_path):
#     # Read PDF file
#     with pdfplumber.open(pdf_path) as pdf:
#         # Extract text from the first page only
#         first_page_text = pdf.pages[0].extract_text()
    
#     return first_page_text

# # Example usage
# pdf_path = '../data/daily_30-06-2015.pdf'
# extracted_text = extract_text_from_first_page(pdf_path)

# # Define regex patterns
# category_pattern = re.compile(r'^(Rice \(Rs/kg\)|Dried Chillies \(Rs/Kg\)|Onion \(Rs/Kg\)|Big Onion|Potatoes \(Rs/Kg\)|Pulses \(Rs/Kg\)|Consumption Item\(Rs/Kg\)|Eggs \(Rs/Egg\))')
# item_pattern = re.compile(r'^([a-zA-Z\s\(\)]*\d*)\s(\d+\.\d{2}\s-\s\d+\.\d{2})\s(\d+\.\d{2})')

# # Initialize lists to store the data
# dates = []
# categories = []
# items = []
# pettah_price_ranges = []
# pettah_averages = []

# # Split data into lines
# lines = extracted_text.split('\n')

# # Extract the date from the first few lines
# date_line = lines[5]

# date_match = re.search(r'\d{4}\.\d{2}\.\d{2}', date_line)

# if date_match:
#     date = date_match.group(0)
# else:
#     raise ValueError("Date not found in the expected line")

# # Initialize current category
# current_category = None

# # Iterate through each line to extract data
# for line in lines:
#     line = line.strip()
#     if not line:
#         continue
    
#     # Check if the line is a category
#     category_match = category_pattern.match(line)
#     if category_match:
#         current_category = category_match.group(0)
#         continue
    
#     # Check if the line is an item with price range and average price
#     item_match = item_pattern.match(line)
#     if item_match:
#         item = item_match.group(1).strip()
#         pettah_price_range = item_match.group(2)
#         pettah_average = item_match.group(3)
        
#         # Append data to lists
#         dates.append(date)
#         categories.append(current_category)
#         items.append(item)
#         pettah_price_ranges.append(pettah_price_range)
#         pettah_averages.append(pettah_average)

# # Create a DataFrame
# df = pd.DataFrame({
#     'Date': dates,
#     'Category': categories,
#     'Item': items,
#     'Pettah Price Range': pettah_price_ranges,
#     'Pettah Average': pettah_averages
# })

# # Output the DataFrame
# df

## Old PDFs - 2015 formats

In [18]:
import pandas as pd
import re
import pdfplumber

def extract_text_from_first_page(pdf_path):
    # Read PDF file
    with pdfplumber.open(pdf_path) as pdf:
        # Extract text from the first page only
        first_page_text = pdf.pages[0].extract_text()
    return first_page_text

# Example usage
pdf_path = '../data/daily_21-08-2024.pdf'
extracted_text = extract_text_from_first_page(pdf_path)

# Define regex patterns
category_pattern = re.compile(r'^Rice \(Rs/kg\)|Imported Rice|Dried Chillies \(Rs/Kg\)|Onion \(Rs/Kg\)|Big Onion|Potatoes \(Rs/Kg\)|Pulses \(Rs/Kg\)|Consumption Item\(Rs/Kg\)|Eggs \(Rs/Egg\)')
item_pattern = re.compile(r'^([a-zA-Z\s\(\)]*\d*)\s(\d+\.\d{2}\s-\s\d+\.\d{2})\s(\d+\.\d{2})')

# Initialize lists to store the data
dates = []
categories = []
items = []
pettah_price_ranges = []
pettah_averages = []

# Split data into lines
lines = extracted_text.split('\n')

# Debug: Print the extracted lines to find the date line
for i, line in enumerate(lines):
    print(f"Line {i}: '{line}'")

# Extract the date from the correct line
date_line = lines[4]  # Adjust the index if necessary
print(f"Extracted date line: '{date_line}'")  # Debugging output

date_match = re.search(r'\d{4}\.\d{2}\.\d{2}', date_line)

if date_match:
    date = date_match.group(0)
    print(f"Extracted date: {date}")  # Debugging output
else:
    raise ValueError(f"Date not found in the expected line: {date_line}")

# Initialize current category
current_category = None

# Iterate through each line to extract data
for line in lines:
    line = line.strip()
    if not line:
        continue
    
    # Check if the line is a category
    category_match = category_pattern.match(line)
    if category_match:
        current_category = category_match.group(0)
        continue
    
    # Check if the line is an item with price range and average price
    item_match = item_pattern.match(line)
    if item_match:
        item = item_match.group(1).strip()
        pettah_price_range = item_match.group(2)
        pettah_average = item_match.group(3)
        
        # Append data to lists
        dates.append(date)
        categories.append(current_category)
        items.append(item)
        pettah_price_ranges.append(pettah_price_range)
        pettah_averages.append(pettah_average)

# Create a DataFrame
df = pd.DataFrame({
    'Date': dates,
    'Category': categories,
    'Item': items,
    'Pettah Price Range': pettah_price_ranges,
    'Pettah Average': pettah_averages
})

# Output the DataFrame
df

Line 0: '.'
Line 1: 'Hector Kobbekaduwa Agrarian Research and Training Institute'
Line 2: 'Data Management Division'
Line 3: '(Wholesale Prices of Rice & Subsidiary Food Crops)'
Line 4: '2024.08.21'
Line 5: 'Item Pettah Marandagahamula'
Line 6: 'Range Average Change * Range Average Change *'
Line 7: '2024.08.21 2024.08.21 2024.08.20 2024.08.21 2024.08.21 2024.08.20'
Line 8: 'Rice (Rs/kg)'
Line 9: 'Samba 1 230.00 - 235.00 232.00 232.00 220.00 - 230.00 223.60 220.80 2.80'
Line 10: 'Samba 2 220.00 - 225.00 222.50 222.50 210.00 - 218.00 212.40 214.20 -1.80'
Line 11: 'Keeri Samba 240.00 - 300.00 270.00 270.00 250.00 - 270.00 260.00 253.33 6.67'
Line 12: 'Nadu 1 210.00 - 215.00 212.40 211.60 0.80 209.00 - 213.00 210.80 212.20 -1.40'
Line 13: 'Nadu 2 205.00 - 207.00 206.33 206.33 0.00 196.00 - 205.00 200.80 199.20 1.60'
Line 14: 'Raw red 185.00 - 200.00 192.00 192.00 193.00 - 195.00 194.40 193.20 1.20'
Line 15: 'Raw White 195.00 - 210.00 203.00 202.00 1.00 198.00 - 202.00 199.40 194.80 4.60'
Line 16: 'Imported Rice'
Line 17: 'Ponne Samba 275.00 - 280.00 276.67 276.67 0.00 -'
Line 18: 'Nadu - -'
Line 19: 'Raw White - -'
Line 20: 'Raw red'
Line 21: 'Subsidiary Food Crops'
Line 22: 'Dried Chillies (Rs/Kg)'
Line 23: 'Imported 700.00 - 800.00 740.00 740.00'
Line 24: 'Local'
Line 25: 'Onion (Rs/Kg)'
Line 26: 'Sinnan 180.00 - 220.00 204.00 176.00 28.00'
Line 27: 'Vedalan 250.00 - 330.00 298.00 284.00 14.00'
Line 28: 'Imported -'
Line 29: 'Big Onion'
Line 30: 'Imported 160.00 - 230.00 202.00 210.00 -8.00'
Line 31: 'Local -'
Line 32: 'Potatoes (Rs/Kg)'
Line 33: 'Welimada 320.00 - 330.00 326.00 344.00 -18.00'
Line 34: 'Nuwaraeliya 380.00 - 400.00 388.00 388.00'
Line 35: 'Imported 150.00 - 360.00 276.00 161.00 115.00'
Line 36: 'Pulses (Rs/Kg)'
Line 37: 'Green Gram 750.00 - 800.00 770.00 770.00'
Line 38: 'Cowpea 750.00 - 800.00 780.00 780.00'
Line 39: 'Red Dhal 265.00 - 275.00 271.00 271.00'
Line 40: 'Consumption Item(Rs/Kg)'
Line 41: 'Sugar(White) 230.00 - 232.00 231.00 234.00 -3.00'
Line 42: 'Wheat Flour 140.00 - 150.00 145.00 152.50 -7.50'
Line 43: 'Eggs (Rs/Egg)'
Line 44: 'Brown 42.00 - 44.00 43.00 43.00'
Line 45: 'White 39.00 - 41.00 40.00 40.00'
Extracted date line: '2024.08.21'
Extracted date: 2024.08.21

,Date,Category,Item,Pettah Price Range,Pettah Average
0,2024.08.21,Rice (Rs/kg),Samba 1,230.00 - 235.00,232.00
1,2024.08.21,Rice (Rs/kg),Samba 2,220.00 - 225.00,222.50
2,2024.08.21,Rice (Rs/kg),Keeri Samba,240.00 - 300.00,270.00
3,2024.08.21,Rice (Rs/kg),Nadu 1,210.00 - 215.00,212.40
4,2024.08.21,Rice (Rs/kg),Nadu 2,205.00 - 207.00,206.33
5,2024.08.21,Rice (Rs/kg),Raw red,185.00 - 200.00,192.00
6,2024.08.21,Rice (Rs/kg),Raw White,195.00 - 210.00,203.00
7,2024.08.21,Imported Rice,Ponne Samba,275.00 - 280.00,276.67
8,2024.08.21,Dried Chillies (Rs/Kg),Imported,700.00 - 800.00,740.00
9,2024.08.21,Onion (Rs/Kg),Sinnan,180.00 - 220.00,204.00
10,2024.08.21,Onion (Rs/Kg),Vedalan,250.00 - 330.00,298.00
11,2024.08.21,Big Onion,Imported,160.00 - 230.00,202.00
12,2024.08.21,Potatoes (Rs/Kg),Welimada,320.00 - 330.00,326.00
13,2024.08.21,Potatoes (Rs/Kg),Nuwaraeliya,380.00 - 400.00,388.00
14,2024.08.21,Potatoes (Rs/Kg),Imported,150.00 - 360.00,276.00
15,2024.08.21,Pulses (Rs/Kg),Green Gram,750.00 - 800.00,770.00
16,2024.08.21,Pulses (Rs/Kg),Cowpea,750.00 - 800.00,780.00
17,2024.08.21,Pulses (Rs/Kg),Red Dhal,265.00 - 275.00,271.00
18,2024.08.21,Consumption Item(Rs/Kg),Sugar(White),230.00 - 232.00,231.00
19,2024.08.21,Consumption Item(Rs/Kg),Wheat Flour,140.00 - 150.00,145.00
20,2024.08.21,Eggs (Rs/Egg),Brown,42.00 - 44.00,43.00
21,2024.08.21,Eggs (Rs/Egg),White,39.00 - 41.00,40.00

In [19]:
from datetime import datetime

# Add a column 'Date' with the current date for all rows
df['Database Write Date'] = datetime.now().strftime('%Y-%m-%d')

# # 2015 PDF formats 
# (r'\d{2}\.\d{2}\.\d{2}')  # data capturing pattern

# Reorder the columns as database write date as first column
cols = ['Database Write Date'] + [col for col in df if col != 'Database Write Date']
df = df[cols]

df.head()

,Database Write Date,Date,Category,Item,Pettah Price Range,Pettah Average
0,2024-08-26,2024.08.21,Rice (Rs/kg),Samba 1,230.00 - 235.00,232.00
1,2024-08-26,2024.08.21,Rice (Rs/kg),Samba 2,220.00 - 225.00,222.50
2,2024-08-26,2024.08.21,Rice (Rs/kg),Keeri Samba,240.00 - 300.00,270.00
3,2024-08-26,2024.08.21,Rice (Rs/kg),Nadu 1,210.00 - 215.00,212.40
4,2024-08-26,2024.08.21,Rice (Rs/kg),Nadu 2,205.00 - 207.00,206.33

In [20]:
df['Date'] = pd.to_datetime(df['Date'], format='%Y.%m.%d')

# Display the first few rows to verify
df.head()

,Database Write Date,Date,Category,Item,Pettah Price Range,Pettah Average
0,2024-08-26,2024-08-21,Rice (Rs/kg),Samba 1,230.00 - 235.00,232.00
1,2024-08-26,2024-08-21,Rice (Rs/kg),Samba 2,220.00 - 225.00,222.50
2,2024-08-26,2024-08-21,Rice (Rs/kg),Keeri Samba,240.00 - 300.00,270.00
3,2024-08-26,2024-08-21,Rice (Rs/kg),Nadu 1,210.00 - 215.00,212.40
4,2024-08-26,2024-08-21,Rice (Rs/kg),Nadu 2,205.00 - 207.00,206.33

In [21]:
# Split the 'Value' column into 'Min_Value' and 'Max_Value' columns
df[['Pettah_Min_Value', 'Pettah_Max_Value']] = df['Pettah Price Range'].str.split(' - ', expand=True)

# Convert the new columns to integers, handling potential conversion errors
df['Pettah_Min_Value'] = pd.to_numeric(df['Pettah_Min_Value'], errors='coerce').fillna(0).astype(int)
df['Pettah_Max_Value'] = pd.to_numeric(df['Pettah_Max_Value'], errors='coerce').fillna(0).astype(int)

df = df.drop(columns=['Pettah Price Range'])

df.head(22)

,Database Write Date,Date,Category,Item,Pettah Average,Pettah_Min_Value,Pettah_Max_Value
0,2024-08-26,2024-08-21,Rice (Rs/kg),Samba 1,232.00,230,235
1,2024-08-26,2024-08-21,Rice (Rs/kg),Samba 2,222.50,220,225
2,2024-08-26,2024-08-21,Rice (Rs/kg),Keeri Samba,270.00,240,300
3,2024-08-26,2024-08-21,Rice (Rs/kg),Nadu 1,212.40,210,215
4,2024-08-26,2024-08-21,Rice (Rs/kg),Nadu 2,206.33,205,207
5,2024-08-26,2024-08-21,Rice (Rs/kg),Raw red,192.00,185,200
6,2024-08-26,2024-08-21,Rice (Rs/kg),Raw White,203.00,195,210
7,2024-08-26,2024-08-21,Imported Rice,Ponne Samba,276.67,275,280
8,2024-08-26,2024-08-21,Dried Chillies (Rs/Kg),Imported,740.00,700,800
9,2024-08-26,2024-08-21,Onion (Rs/Kg),Sinnan,204.00,180,220
10,2024-08-26,2024-08-21,Onion (Rs/Kg),Vedalan,298.00,250,330
11,2024-08-26,2024-08-21,Big Onion,Imported,202.00,160,230
12,2024-08-26,2024-08-21,Potatoes (Rs/Kg),Welimada,326.00,320,330
13,2024-08-26,2024-08-21,Potatoes (Rs/Kg),Nuwaraeliya,388.00,380,400
14,2024-08-26,2024-08-21,Potatoes (Rs/Kg),Imported,276.00,150,360
15,2024-08-26,2024-08-21,Pulses (Rs/Kg),Green Gram,770.00,750,800
16,2024-08-26,2024-08-21,Pulses (Rs/Kg),Cowpea,780.00,750,800
17,2024-08-26,2024-08-21,Pulses (Rs/Kg),Red Dhal,271.00,265,275
18,2024-08-26,2024-08-21,Consumption Item(Rs/Kg),Sugar(White),231.00,230,232
19,2024-08-26,2024-08-21,Consumption Item(Rs/Kg),Wheat Flour,145.00,140,150
20,2024-08-26,2024-08-21,Eggs (Rs/Egg),Brown,43.00,42,44
21,2024-08-26,2024-08-21,Eggs (Rs/Egg),White,40.00,39,41

### CSV Saving to local

In [22]:
# import os

# # Retrieve the date from the DataFrame (adjust indexing as needed)
# actual_date_str = df.loc[1, 'Date']

# # Ensure the date is in the correct format (if it's not already a string)
# if not isinstance(actual_date_str, str):
#     actual_date_str = actual_date_str.strftime('%Y-%m-%d')

# # Remove any invalid characters for filenames
# actual_date_str = actual_date_str.replace(':', '-').replace('/', '-').replace(' ', '_')

# # Define the directory and filename with the date
# CSV_DIR = os.path.join('data', 'csv')
# filename = f'{CSV_DIR}/CSV_output_{actual_date_str}.csv'

# # Save the DataFrame to the CSV file
# df.to_csv(filename, index=False)